* {
  margin: 0px;
  padding: 0px;
} 

html {
  text-align: left;
  font-size: 16px;
  font-family:  Verdana, san-serif;
  background-color: #F8EEE7;
  color: black;
}

.color-1-base {
  background-color: #F8EEE7;
  color: black;
}

.color-1-head {
  background-color: #F8EEE7;
  color: #94618E;
}

.color-1-action {
  background-color: #F8EEE7;
  color: #49274A;
}

.color-2-base {
  background-color: #F4DECB;
  color: black;
}

.color-2-head {
  background-color: #F4DECB;
  color: #94618E;
}

.color-2-action {
  background-color: #F4DECB;
  color: #49274A;
}

.color-temp {
  background-color: #94618E;
  color: black;
}

.clickable-text:hover {
  cursor: pointer;
}

h1 {
  font-size: 30px;
  background-color: #F8EEE7;
  color: #94618E;
  margin-top: 10px;
}

h2 {
  font-size: 20px;
  background-color: #F8EEE7;
  color: #94618E;
  margin-top: 10px;
  margin-bottom: 3px;
}

.warning-message {
  border: 2px solid lightgrey;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

.button-style {
  padding: 5px 8px;
  border: 2px solid black;  
  border-radius: 20px;
  background-color: #94618E ;
  color: #F4DECB;
  display: inline-block;
}

.button-style:disabled {
  background-color: lightgrey ;
  color: black;
}


