* {
  margin: 0px;
  padding: 0px;
} 

html {
  text-align: left;
  font-size: 16px;
  font-family:  Verdana, san-serif;
  background-color: #F8EEE7;
  color: black;
}

.color-1-base {
  background-color: #F8EEE7;
  color: black;
}

.color-1-head {
  background-color: #F8EEE7;
  color: #94618E;
}

.color-1-action {
  background-color: #F8EEE7;
  color: #49274A;
}

.color-2-base {
  background-color: #F4DECB;
  color: black;
}

.color-2-head {
  background-color: #F4DECB;
  color: #94618E;
}

.color-2-action {
  background-color: #F4DECB;
  color: #49274A;
}

.color-temp {
  background-color: #94618E;
  color: black;
}

.clickable-text:hover {
  cursor: pointer;
}

h1 {
  font-size: 30px;
  background-color: #F8EEE7;
  color: #94618E;
  margin-top: 10px;
}

h2 {
  font-size: 20px;
  background-color: #F8EEE7;
  color: #94618E;
  margin-top: 10px;
  margin-bottom: 3px;
}

.warning-message {
  border: 2px solid lightgrey;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

.button-style {
  margin-top: 10px;
  margin-left: 15px;
  padding: 10px;
  border: 2px solid black;  
  border-radius: 20px;
  background-color: #94618E ;
  color: #F4DECB;
  display: inline-block;
}

.button-style:disabled {
  background-color: lightgrey ;
  color: black;
}

.label-bold {
  font-weight: bold;
}

.label_child {
  font-weight: initial;
}

.span-columns-1 {
  grid-column: span 1;
}

.span-columns-2 {
  grid-column: span 2;
}

.span-columns-3 {
  grid-column: span 3;
}

.book-image-large-container{
  padding: 5px;
  height: 330px;
  width: 330px;
}

.book-image-large {
  border: 2px solid #94618E;
  width: 330px;
  height: 330px;
}

.book-image-small-container{
  padding: 5px;
  height: 150px;
  width: 150px;
}

.book-image-small {
  border: 2px solid #94618E;
  width: 150px;
  height: 150px;
}

