.checkout {
    padding: 2px;
}

.checkout__user-container {
    padding: 10px;
    margin-left: 15px;
    border: 2px solid #94618E;
    width: 16%;
    border-radius: 20px;
}

.checkout__cart-container {
    display: grid;
    grid-template-columns: 60px auto 50px 50px;
    margin-left: 15px;
    padding: 10px;
    gap: 10px;
    justify-items: end;
    border: 2px solid #94618E;
    width: 33%;
    border-radius: 20px;
}

.checkout__cart-item-container {
    padding: 2px;
}

.checkout__item-image {
    padding: 2px;
}


.checkout__payment-container {
    margin-left: 15px;
    padding: 10px;
    border: 2px solid #94618E;
    width: 16%;
    border-radius: 20px;
}

.checkout__grid-header {
    font-weight: bold;
}

.checkout__grid-title {
    justify-self: start;
}