.shopping-cart {
    margin: 5px;
    
}

.shopping-cart__item-title {
    font-size: 20px;
    font-weight: bold;
}

.shopping-cart__item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
    padding: 10px;
    border: 2px solid #94618E;
    border-radius: 20px;
    width: 60%;
}

.shopping-cart__item-image {
    margin: 5px;
}

.shopping-cart__item-text {
    margin: 5px;
}

