.header-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
}

.header-bar__home {
    font-family: Papyrus;
    display: inline;
    margin-left: 0;
    margin-right: auto;
    padding: 3px;
    font-size: 22px;
    color: #F4DECB;
    text-shadow: 0px 2px 2px #94618E; 
}